<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>{{ newcontact.fullName }} Added</title>
    </head>
    <body>
        <div class="container">
            <h2>You created a contact!</h2>
            <h4>Full Name: </h4>
            <p>{{ newcontact.fullName }}</p>
            <h4>Phone: </h4>
            <p> {{ newcontact.phone}} </p>
            <h4>Address: </h4>
            <p> {{ newcontact.address }} </p>

        </div>
    </body>
</html>
